<% content_for :page_title, "Home" %>

<nav class="filters">
  <div class="">
    <%= active_link_to "All Restaurants", root_path, active: { price: nil, cuisine: nil, location: nil } %>
  </div>
  <div >
    <%= active_link_to "$", root_path(price: 1, cuisine: @cuisine, location: @location), active: { price: 1} %>
    <%= active_link_to "$$", root_path(price: 2, cuisine: @cuisine, location: @location), active: { price: 2} %>
    <%= active_link_to "$$$", root_path(price: 3, cuisine: @cuisine, location: @location), active: { price: 3} %>
    <%= active_link_to "$$$$", root_path(price: 4, cuisine: @cuisine, location: @location), active: { price: 4} %>
  </div>

  <div>
    <%= active_link_to "Asian", root_path(cuisine: "Asian", price: @price, location: @location), active: { cuisine: "Asian" } %>
    <%= active_link_to "American", root_path(cuisine: "American", price: @price, location: @location), active: { cuisine: "American" } %>
    <%= active_link_to "French", root_path(cuisine: "French", price: @price, location: @location), active: { cuisine: "French" }%>
  </div>

  <form class="search" action="/">
    <input type="text" name="location" placeholder="Search location" value="<%= @location %>">
    <input type="hidden" name="price" value="<%= @price %>">
    <input type="hidden" name="cuisine" value="<%= @cuisine %>">
  </form>
</nav>

<% if @reviews.present? %>
<ul>
    <% @reviews.order("created_at desc").each do |review| %>
      <li class="review">
        <%= link_to review_path(review) do %>
        <% if review.photo.present? %>
          <%= image_tag review.photo.thumb.url %>
        <% end %>
          <h2><%= review.title %></h2>
          <p class="summary">
            <%= review.cuisine %> -
            <%= pluralize review.comments.count, "comment" %>
          </p>
        <%end%>
      </li>
    <% end %>
</ul>
<% else %>
  <h2>No restaurant reviews yet!</h2>
<% end %>
