<h1>
  <%= @review.title %>
</h1>

<p>
  <%= @review.score %> / 10
</p>

<div class="body">
  <%= simple_format @review.body %>
</div>

<div class="actions">
  <%= link_to "Edit review", edit_review_path(@review) %>
  <%= button_to "Delete review", review_path(@review), method: :delete, onclick: "return confirm('Are you sure??')"  %>
</div>
