<% content_for :page_title, @review.title %>

<h1 class="title">
  <%= @review.title %>
</h1>

<h3 class="restaurant">
  <%= @review.restaurant %>
</h3>

<p class="score">
  <%= @review.score %> / 10
</p>

<% if @review.ambiance.present? %>
  <p class="ambiance">
    Ambiance:  <%= @review.ambiance %>
  </p>
<% end %>

<% if @review.cuisine.present? %>
  <p class="cuisine">
    Cuisine:  <%= @review.cuisine %>
  </p>
<% end %>

<% if @review.price.present? %>
  <p class="price">
    Price:  <%= @review.price %>
  </p>
<% end %>

<div class="body">
  <%= simple_format @review.body %>
</div>

<section class="actions">
    <%= link_to "Edit review", edit_review_path(@review) %>
    <%= link_to "Delete review", review_path(@review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
</section>


<h3>Comments</h3>

<section class="comments">
  <% @review.comments.order("created_at desc").each do |comment| %>

    <div class="comment">
      <p>
        <%= simple_format comment.body %>
      </p>
      <p class="posted">Posted <%= time_ago_in_words comment.created_at %> ago</p>
    </div>


  <% end %>
</section>


<h3>Add a comment</h3>

<%= simple_form_for [@review, Comment.new] do |f| %>

  <%= f.input :body %>
  <%= f.button :submit, "Add comment" %>

<% end %>
